html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
}

* {
	padding: 0;
	margin: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* **************************** */
/*          DECK of CARDS       */
/* **************************** */

.deck {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    max-width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
  	padding-left: -40px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 0 0 3em;
}

.deck .card {
	display: flex;
    justify-content: center;

    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0; /* nezobrazuje se text */
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.selected {
    font-size: 4rem;
    background: #02b3e4;
    color: #333;
    text-shadow: 1px 1px 2px white, -1px -1px 2px white;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 4rem;
    text-shadow: 5px 5px 15px black;
}

/* **************************** */
/*          SCORE PANEL         */
/* **************************** */

.score-panel {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

    position: relative;

    width: calc(100% - (100% - 660px));
    margin-bottom: 10px;
    /*border: 1px solid red;*/
}

#no-stars {
    color: red;
    font-weight: bold;
}

.score-panel .stars {
    margin-left: 10%;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    /*border: 1px solid green;*/
}


.fa-star {
    color: #f7d205;
    font-size: 1.4em;
    letter-spacing: 4px;
    /*border: 1px solid blue;*/
}

.fa-repeat {
	font-size: 1.4em;
	color: black;
    /*border: 1px solid blue;*/
}

.score-panel .restart {
    cursor: pointer;
    margin: 0 10% 0 auto; 
    font-size: 30px;
    }

.score-panel .restart:hover {
    /*transform: scale(1.5);*/
}

.timer, .moves {
    margin-left: 10px;
    display: inline-block;
    text-align: right;
    min-width: 50px;
    font-weight: bold;
    font-size: 1.4em;
    /*border: 1px solid red;*/
}

/* **************************** */
/*            MODAL             */
/* **************************** */

.modal {
	width: 100%;
	margin: 0 auto;
}

.modal-section {
    position: relative;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-section .modal {
    position: absolute;
    display: none;
    z-index: 10;
    
    height: 100%; /* bez toho nefungovalo 'top, right' u modal-close */
    height: 50vh;
    max-width: calc(90% - (100% - 660px));
    box-sizing: border-box;
    text-align: center;
    padding: 30px 80px;
    border-radius: 10px;

    background-color: #eee;
    border: 2px solid #333;
    color: #333;

    /*border: 4px solid orange;*/
}

.flexbox-modal-items {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	height: 100%;
	font-size: 1.9rem;
	/*font-size: 4vw;*/
	/*border: 1px solid orange;*/
}

.fa-times-circle-o {
    color: #333;
}

.modal-close {
    position: absolute;
    right: 19px;
    top: 10px;
    font-size: 1.2em;
    /*color: #333;*/
    cursor: pointer;
    text-shadow: 1px 1px 6px gray;
}

.modal-close:hover {
    text-shadow: 1px 1px 6px #eee;
    color: #222;
}

/* ******************************** */
/*            MEDIA QUERIES         */
/* ******************************** */

@media screen and (max-width: 660px) {
    .deck {
        width: 100vw;
        padding: 5px;
    }

    .card {
    	margin: 5px;
    }

    .score-panel {
    	width: 100%;
    	max-width: 600px;
    }

    .modal-section .modal {
		padding: 10px 30px;
    }

    .score-panel .restart {
    	font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
	.flexbox-modal-items {
		font-size: 6vw;
	}

}


@media screen and (max-width: 400px) {

	.score-panel {
		flex-direction: column;
		align-items: flex-start;
		/*padding-left: 30%;*/
	}

	.score-panel .restart {
    	margin: 0;
    }

    .score-panel .stars {
    margin-left: 0;
	}

	.box {
		border: 1px solid #ccc;
		background-color: #eee;
		width: 100%;
		border-radius: 8px;
		margin-bottom: 3px;
	}
}





